#main
{
    border-style: solid;
    display: inline-block;
    width: 201px;
    height: 361px;
    font-family: 'Gemunu Libre', sans-serif;
}

#screen
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
    background-color: black;
    color: white;
    height: 71px;
    width: 201px;
    margin: 0;
    font-size: 50px;
}

#upper-screen {
    display: flex;
	justify-content: flex-start;
	align-items: flex-end;
    background-color: black;
    color: white;
    height: 30px;
    width: 201px;
    margin: 0;
    font-size: 35px;
}

.rows
{
    display: flex;
    align-items:center; 
    border-style: solid;
    border-width: thin;
	font-size: x-large;
}

.num
{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: darkgrey;
    height: 50px;
    width: 50px;
    font-weight: 900;
    border-right-style: solid;
    border-right-width: thin;
    cursor: pointer;
}


.num:hover
{
    opacity: 0.7;
}
.num:active
{
    opacity: 0.5;
}

#num0
{
    padding-right: 100px;
    border-right-style: solid;
    border-right-width: thin;
    display: flex;
    align-items:center;
    justify-content:center;
}

.calcOp /* Calculation operations */
{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: darkorange;
    color: white;
    height: 50px;
    width: 50px;
    font-weight: 900;
    cursor: pointer;
}

.op_btn {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: darkorange;
    color: white;
    height: 50px;
    width: 50px;
    font-weight: 900;
    cursor: pointer;
}

.clr_btn {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: darkorange;
    color: white;
    height: 50px;
    width: 50px;
    font-weight: 900;
    cursor: pointer;
}

.prc_btn {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: darkorange;
    color: white;
    height: 50px;
    width: 50px;
    font-weight: 900;
    cursor: pointer;
}

.calcOp:hover
{
    opacity: 0.7;
}
.op_btn:active
{
    opacity: 0.5;
}

.op_btn:hover
{
    opacity: 0.7;
}
