body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 80px;
}

.title-img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

#mainDiv
{
    display: flex;
	justify-content: center;
	align-items: center;
}
.about_Us
{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 80px;
}
.pic
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.div_pic {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.50);
}

.button {
    display: block;
    text-align: center;
    margin: 30px 35vw;
    padding: 10px;
    border-radius: 5px;
    background-color: #007DFE;
    color: white;
    text-decoration: none;

}

.img {
    width: 250px;
    height: 250px;
    margin-top: -235px;
    margin-left: 5vw;
}
