body
{
    margin: 0;
}
hr
{
    width: 15%;
    border-color: rgb(255, 182, 46);
}
h1
{
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}
#mainDiv
{
    display: flex;
	justify-content: center;
	align-items: center;
}
.about_Us
{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 50px;
}
.pic
{
    width: 150px;
    height: 150px;
    border-radius: 25%;
}
.icon
{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 183, 49);
}
